*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: black;
}
 #bg{
        position: fixed;
        top: 0;
        left: 0;
        z-index:-1;
        height: 100vmax;
        overflow: hidden;
    }

#left{
    background: none;
    padding-top: 3vh;
   
    height: 80vh;
    left: 4vw;
    z-index: -1;
    float: left;
}
#content1{
    position: fixed;
    background: none;
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-wrap: wrap;
    font-size: 20px;
    width: 40vw;
    right: 2vw;
    top: 15vh;

}
#content2{
    background: none;
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    position: fixed;
    text-wrap: wrap;
    font-size: 16px;
    bottom: 4vh;
    left: 2vw;
}