*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    height: 100vmax;
    overflow: hidden;
}
#content{
    background: none;
    color: white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-wrap: wrap;
    font-size: 20px;
    position: fixed;
    left: 5vw;
    right: 5vw;
    bottom: 10vh;
}
#home{
    color: white;
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background: none;
    position: fixed;
    top: 5vh;
    left: 20px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    animation: blinking 2s 0s linear infinite alternate-reverse;
}
#home:hover {
    background-color: white;
    color: #C4233E;
    animation: none;
}
@keyframes blinking{
    0%{opacity: 64%;}
    95% {opacity: 100%;}
    100% {opacity: 100%;}
}